#  Introdução a estatística 

    Nesse curso, contemplamos os primeros tópicos em estatística utilizando a ferramenta Python, passando por tópicos como:
 
     - Distribuição de frequência;
     - Medidas de tendência central;
     - Medidas separatrizes;
     - Medidas de dispersão.
 
 ## Dataset 

     Micro dados fornecido da Pesquisa Nacional por Amostra de Domicílios (PNAD 2015) utilizados do Instituto Brasileiro de Geografia e Estatísica (IBGE), utilizando as seguintes variáveis:
     
     - Renda;
     - Idade;
     - Altura (Elaboração do curso ALura);
     - Estados;
     - Sexo;
     - Anos de estudo;
     - Raça declarada.
     
Observações: 
   
   Foram tratados os dados para rendas inválidas e missing,

## Preparação do ambiente

Importando dataset e pacotes que serão utilizados

In [1]:
import pandas as pd
import numpy as np

In [5]:
dados_pessoas = pd.read_csv('dados/dados.csv', sep = ',')

In [7]:
### Vizualização de dados do dataset ###

dados_pessoas.head()

   UF  Sexo  Idade  Cor  Anos de Estudo  Renda    Altura
0  11     0     23    8              12    800  1.603808
1  11     1     23    2              12   1150  1.739790
2  11     1     35    8              15    880  1.760444
3  11     0     46    2               6   3500  1.783158
4  11     1     47    8               9    150  1.690631

## Tipos de dados

#### Qualitativo Ordinal

In [6]:
dados_pessoas['Anos de Estudo'].unique()

array([12, 15,  6,  9, 14, 16, 10,  1,  5,  7,  3,  2,  4,  8, 11, 17, 13],
      dtype=int64)

In [7]:
sorted(dados_pessoas['Anos de Estudo'].unique())

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]

#### Qualitativas Nominais

In [10]:
sorted(dados_pessoas['UF'].unique())

[11,
 12,
 13,
 14,
 15,
 16,
 17,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 31,
 32,
 33,
 35,
 41,
 42,
 43,
 50,
 51,
 52,
 53]

In [11]:
sorted(dados_pessoas['Sexo'].unique())

[0, 1]

In [12]:
sorted(dados_pessoas['Cor'].unique())

[0, 2, 4, 6, 8]

#### Quantitativa Discreta

In [15]:
dados_pessoas.Idade.min()

13

In [16]:
dados_pessoas.Idade.max()

99

In [18]:
print(f' De {dados_pessoas.Idade.min()} até {dados_pessoas.Idade.max()}')

 De 13 até 99

#### Quantitativas Contínuas

In [28]:
print(f' De {dados_pessoas.Altura.min()} até {dados_pessoas.Altura.max()}')

 De 1.339244614 até 2.028496765